.actions-cell {
    a,
    form {
        display: block;
        float: left;
        margin: 5px;
    }
}

.pagination-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.form-image {
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid #ccc;
}

.admin-search-form {
    display: inline-flex;
    float: right;
    .input-group-append {
        border: 1px solid #ccc;
        .btn {
            line-height: 0.5;
        }
    }
}
